.sidebar{
    background: #14293C;
    height:100vh;
    width:20vw;
    overflow-y: hidden;
}
.sticky{
    position: sticky;
    top: 0px;
    bottom: 0px;
}
.nav{
    overflow-y: scroll;
    margin-bottom: 60px;
}
.nav::-webkit-scrollbar{
    display: none;
}
.mobile-thumb{
    position: absolute;
    transition: position 1s;
    z-index: 88;
    width:70vw;
    right:0px;
}
.form-items-container{
    border:1px solid #D3D4D8;
    margin-top:11px;
    padding:4px;
    background:#ffffff;
    position:relative;
}
.form-items-icon{
    position:absolute;
    right:5px;
    top:10px;
    font-size: 13px;
    color: #8492A6!important;
    font-size:17px;
    color: #74788d;
}
*:focus{
    -webkit-box-shadow: none!important;
    box-shadow:none!important;
}
.auth-form{
    position:absolute;
    background:#14293C;
    min-height:60vh;
    max-height:92vh;
    width:100vw;
}
.form-container{
    position:absolute;
    top:30vh;
}
.form-items-input{
    border:none;
    outline:none;
    width:93%;
    position:relative;
    right:7%;
    color: #8492A6;
}
.activeNavItem{
    background: #036C9C;
}
/* editProfile */
.activeRightTab{
    background:#036C9C;
    border-color:#036C9C!important;
    color:white;
    position:relative;
    right:8px;
}
.border-active{
    border-color:#036C9C!important;    
}
/* edit profile */
/* notifications */
.notificationText{
    position:relative;
    top:4px;
    margin-left: 4px;
    margin-right: 4px;
}
.notificationData{
    position: relative;
    top: 14px;
}
/* notifications */
/* messages */
.closeChat, 
.openchat{
    display: none;
    position:absolute;
    top:21px;
    left:13px;
}
@media(max-width:991px){
    .closeChat, 
    .openchat{
        display: block;
    }
}
.chat:hover{
    background:#e6ebf5;
}
.message-box span{
    max-width: 35%;
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
    padding:6px 7px 8px 9px;
}
.outgoing-message, .incomming-message{
    margin-top:30px!important;
}
.outgoing-message span{
    background:#d9fdd3;
}
.incomming-message span{
    position:relative;
    right:64%;
    background:#ffffff;
}
.chats{
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
.chat-text{
    padding:0px 3px 0px 0px;
    margin:0px 3px 0px 0px;
}
.chats-container{
    height:356px;
    background-color: #f5f7fb;
}
/* messages */
.activeLeftTab{
    background:#036C9C;
    border-color:#036C9C!important;
    color:white;
    position:relative;
    left:5px;
}
.activeNavItem .dropdown-menu{
    display: block;
    background: #03182c;
    width: 100%;
    text-align: right;
}
*{
    font-family: 'Cairo', sans-serif;
}
body{
    direction:rtl;
}
input{
    text-align: right!important;
}
.sidebar ul{
    padding:0px;
}
.fa-angle-double-right{
    display: none;
}
a{
    text-decoration: none;
}
.nav-item:hover{
    background: #036C9C;
}
.nav-item:hover {
    color: #D3D4D8;
}
.pull-right {
    position:absolute;
    left:10px; 
    top:15px;
    font-size: 12px;
}
.sub-item{
    padding:4px 0px;
    font-size: 13px;
    color:#79A4C6;
}
.sub-menu{
   padding:0px 0px;
}
.sub-menu li{
    padding:7px 10px;
}
.sub-menu li:hover a{
    color:#337ab7;
}
.sub-menu{
    display: none;
}
.nav-item{
    padding : 10px 4px 10px 10px;
}
.sidebar.thumb .sub-item{
    font-size: 13px;
    font-weight: 600;
}
.sidebar.thumb{
    max-width:55px;
    transition: width .3s;
}
.sidebar.thumb li{
    width:100%;
    padding:10px 10px;
}
.sidebar.thumb i{
    margin: auto!important;
    text-align: center;
    font-size:16px;
    padding: 0px 10px;
}
.sidebar.thumb li:hover .sub-menu{
    display: block;
    z-index:9228;
}
.nav li{
    width: 100%;
}
.nav li .sub-menu:hover{
    display: block;
}
li{
    list-style: none;
}
li a {
    display:block;
    position: relative;
    color: #D3D4D8;
    font-size: 1.2rem;
}
/* for rtl */
.sidebar.thumb .sub-menu{
    display : none;
    position:absolute;
    right: 53px;
    margin-top: -43.7px;
    background: #14293C;
    padding:0px 0px;
    width:200px;
}
.sidebar.thumb .sub-menu li{
    padding: 8.2px 10px;
}
.sidebar.thumb .sub-menu li .sub-item{
    color: #D3D4D8;
}
.sidebar.thumb .active{
    background: #036C9C;
    color: #D3D4D8;
}
.sidebar.thumb .sub-menu li:hover{
    background: #036C9C;
    color: #D3D4D8;
    list-style: none;
}
.sidebar.thumb .thumbed{
    display: none;
}
.sidebar.thumb .brand img{
    display: none;
}
.show{
    display:block;
}
.header-box ul{
    overflow-y:scroll;
}
.header-box{
    background:hsl(0, 0%, 100%);
    position:absolute;
    right:10px;
    z-index:999;
    top:67px;
    opacity: 0;
    visibility: hidden;
    max-width: 294px;
    border-radius: 3px;
    min-height: auto;
    min-height: 280px;
    max-height:280px;
    min-width: 294px;
    overflow-x:hidden;
}
.item:hover .item-box{
    transition: .3s;
    opacity:1;
    visibility:visible; 
    top:37px;
}
.show-all{
    min-width:320px;
    display:inline-block;
    position: absolute;
    top: 92%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
.profile:hover{
    background-color: #eee;
}
.header-box a,.header-box span{
    font-weight: 600;
}
.sidebar.thumb .show{
    display:block;
}
.sidebar{
    z-index: 999999;
}
.header{
    height:50px;
    width: 100%;
    z-index: 98787;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    right: 0;
}
.pointer{
    cursor:pointer;
}
.fa-bars{
    position: relative;
    right:10px;
    margin-left:14px;
    font-size: 18px;
    color:#555b6d;
}
.circle-image{
    border-radius: 50%;
}
.header-icon{
    color:#555b6d;
    font-size: 18px;
    margin:0px 7px 0px 7px;
}
.search-bar{
    position: relative;
    background: #f3f3f9;
    border-radius: 18px;
    height: 30px;
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
}
.search-icon{
    position: absolute;
    right:7px;
    font-size: 13px;
    color: #74788d;
}
.header-input{
    position: absolute;
    right:20px;
    border:none;
    outline:none;
    background: #f3f3f9;
    width: 85%;
}
.close-item{
    position:absolute;
    left:10px;
    top:10px;
    font-size:22px;
}
@media(max-width:991px){
    aside{
        position:absolute!important;
        left:100%;
    }
}
@media(min-width:992px){
    .mobile{
        display: none;
    }
}

/* width */

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #14293C;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #224c70;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #10416d;
}

.im-card{
    width:90%;
    height: 400px;
    overflow:hidden;
    box-shadow: 0px 0px 1px 1px #d3d3d3;
    background:#ffffff;
    margin-bottom: 30px;
}

.im-card-header{
    border-top: 4px solid #217CA8;
    background-color: #14293C;
    border-bottom: 1px solid #14293C;
    padding: 4px 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
}

@media(max-width:1199px){
    .im-card{
        width: 100%;
    }
}
